input{
  font-size: 16px;
  accent-color: green;
}
/*

○ Añade un estilo al pasar el ratón sobre cada elemento.  */
input[type="checkbox"]:checked{
  font-size: 14px;
  accent-color: orange;
}

:focus{
  background-color: lightblue;
}

:disabled{
  background-color: #000000;
}

:hover{
  background-color: darkred;
  font-family: Arial;
  text-decoration: underline;
}
